body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0f1f;
  color: white;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(17, 24, 39, 0.8);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: #00f7ff;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 6rem 2rem;
}

.hero span {
  color: #00f7ff;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: linear-gradient(90deg, #00f7ff, #ff00ff);
  border-radius: 30px;
  text-decoration: none;
  color: black;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
}

.card {
  margin: 1rem auto;
  padding: 1.5rem;
}

.card a {
  color: #00f7ff;
}

/* Skill Bars */
.skill {
  max-width: 600px;
  margin: 1rem auto;
  text-align: left;
}

.bar {
  background: #111827;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 10px;
  border-radius: 20px;
  width: 0;
}

.ml { background: #00f7ff; }
.dl { background: #ff00ff; }
.nlp { background: #00ff88; }
.rag { background: #ff8800; }

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.hero {
  text-align: center;
  padding: 6rem 2rem;
}

.profile-wrapper {
  margin-bottom: 20px;
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #00f7ff;
  box-shadow: 0 0 20px rgba(0, 247, 255, 0.6);
}

.hero-desc {
  margin-top: 10px;
  color: #ccc;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 20px;
}

.btn-outline {
  padding: 0.6rem 1.2rem;
  margin: 0 5px;
  border-radius: 25px;
  border: 1px solid #00f7ff;
  text-decoration: none;
  color: #00f7ff;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #00f7ff;
  color: black;
}

.contact-box {
  text-align: center;
  margin-top: 20px;
}

.contact-links {
  margin-top: 15px;
}

.contact-btn {
  display: inline-block;
  margin: 5px 10px;
  padding: 8px 15px;
  border-radius: 20px;
  background: linear-gradient(90deg, #00f7ff, #ff00ff);
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.edu-card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 15px auto;
  border-radius: 12px;
  max-width: 700px;
  border-left: 4px solid #00f7ff;
}

.edu-card h3 {
  margin-bottom: 5px;
  color: #00f7ff;
}

.edu-card p {
  margin: 4px 0;
  color: #ddd;
}
